# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:
- task: UseDotNet@2
  displayName: Install .NET 6
  inputs:
    packageType: 'sdk'
    version: '6.x'

- task: DotNetCoreCLI@2
  displayName: Build
  inputs:
    command: build
    projects: '**/*.csproj'
    arguments: '--configuration $(buildConfiguration)'

- task: DotNetCoreCLI@2
  displayName: 'Running Unit tests'
  inputs:
    command: test
    projects: '**/webtest.csproj'
    arguments: '/p:CollectCoverage=true /p:CoverletOutputFormat=cobertura /p:CoverletOutput=./MyCoverage/'
    publishTestResults: true

- task: PublishCodeCoverageResults@2
  displayName: 'Publish Code Coverage Results'
  inputs:
    codeCoverageTool: 'Cobertura'
    summaryFileLocation: '$(Build.SourcesDirectory)/**/MyCoverage/coverage.cobertura.xml'

- script: |
        threshold= 100
        echo "Threshold: $threshold"
        lineCoverageXml=$(awk '/<line-rate>/{gsub(/<\\/?line-rate>/,"",$1); print $1}' $(Build.SourcesDirectory)/**/MyCoverage/coverage.cobertura.xml)
        echo "Line coverage value from XML: $lineCoverageXml"
        lineCoverage=$(echo $lineCoverageXml | awk '{print int($1*100)}')
        echo "Line coverage percentage: $lineCoverage"
        if [ $lineCoverage -lt $threshold ]; then
          echo "Line coverage is $lineCoverage%, which is below the threshold of $threshold%"
          exit 1
        else
          echo "Line coverage is $lineCoverage%, which meets the threshold of $threshold%"
        fi
  displayName: 'Check Code Coverage Threshold'